@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap");

/********************
variables
********************/
$fontFamily: "Lato", sans-serif;
$fontHeadings: "Anton", sans-serif;
$fontSize: 16px;
$primary: #8f71bf;
$secondary: #f3cc30;
$white: #fff;
$black: #000;
$lightGray: #fdf9f6;
$transition: 0.4s ease;
$padding: 70px 0;

/********************
basic style
********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.7;
    background: $lightGray;
}
.container {
    width: 90%;
    margin: 0 auto;
    @media (max-width: 767px) {
        max-width: 95%;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    transition: $transition;
    &:hover {
        color: $lightGray;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $fontHeadings;
}
img {
    width: 100%;
    display: block;
}

/********************
mixins
********************/
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin h2 {
    font-size: 3rem;
    color: $primary;
    margin-bottom: 30px;
    font-family: $fontFamily;
    &::after {
        content: "";
        border: none;
        height: 5px;
        background: $primary;
        display: block;
        width: 50px;
    }
}

/********************
nav
********************/
nav {
    background-color: $primary;
    padding: 10px 0;
    .container {
        @include flex(space-between, center);
        @media (max-width: 767px) {
            @include flex(center, center, column);
        }
        .logo {
            font-size: 2rem;
            letter-spacing: 2px;
            font-weight: 400;
            font-family: $fontHeadings;
        }
        ul {
            @include flex(space-between, center);
            li {
                margin-left: 60px;
                letter-spacing: 1px;
                transition: $transition;
                @media (max-width: 767px) {
                    margin-left: 30px;
                }
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

/********************
header
********************/
header {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    @include flex(flex-end, center, column);
    position: relative;
    div {
        background: $primary;
        display: inline-block;
        width: 50%;
        height: 195px;
        position: absolute;
        bottom: -19%;
        @media (max-width: 767px) {
            width: 90%;
            height: 160px;
            bottom: -12%;
        }
        hgroup {
            text-align: center;
            padding: 0 120px;
            position: relative;
            h1 {
                font-size: 8rem;
                color: $secondary;
                position: absolute;
                top: -110px;
                left: 25%;
                text-shadow: 3px 3px darken($primary, 20%);
                letter-spacing: 1px;
                @media (max-width: 767px) {
                    font-size: 5rem;
                    top: -72px;
                    left: 15%;
                }
            }
            h3 {
                color: $white;
                font-size: 2.7rem;
                position: absolute;
                top: 70px;
                left: 280px;
                font-weight: 700;
                font-family: $fontFamily;
                @media (max-width: 767px) {
                    font-size: 2rem;
                    top: 40px;
                    left: 90px;
                }
            }
            h5 {
                color: $white;
                font-size: 1.3rem;
                position: absolute;
                top: 140px;
                left: 310px;
                font-family: $fontFamily;
                @media (max-width: 767px) {
                    font-size: 1rem;
                    top: 95px;
                    left: 110px;
                }
            }
        }
    }
}

/********************
services
********************/
.services {
    background-color: $lightGray;
    padding: $padding;
    .container:first-child {
        padding: 50px 0;
        h2 {
            @include h2;
        }
        p {
            color: $primary;
        }
    }
    .container:last-child {
        @include flex(space-between, flex-start, row);
        height: 60vh;
        @media (max-width: 767px) {
            height: auto;
        }
        i {
            font-size: 2.2rem;
            margin-bottom: 30px;
        }
        h3 {
            font-family: $fontFamily;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 20px; 
        }
        a {
            text-transform: lowercase;
        }
        div:nth-child(1) {
            background-color: $primary;
            color: $white;
            flex: 0 0 31%;
            padding: 30px;
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
            p {
                color: $white;
            }
        }
        div:nth-child(2) {
            background-color: $secondary;
            color: $primary;
            flex: 0 0 31%;
            padding: 30px;
            align-self: center;
            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin-top: 50px;
            }
            a {
                color: $primary;
            }
        }
        div:nth-child(3) {
            background-color: $white;
            color: $primary;
            flex: 0 0 31%;
            padding: 30px;
            align-self: flex-end;
            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin-top: 50px;
            }
            a {
                color: $primary;
            }
        }
    }
}

/********************
team
********************/
.team {
    padding: $padding;
    @include flex(space-between, center);
    article:first-child {
        flex: 0 0 48%;
        color: $primary;
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
        h2 {
            @include h2;
        }
        button {
            font-size: 0.9rem;
            padding: 15px 30px;
            background-color: $primary;
            text-transform: uppercase;
            border: none;
            color: $white;
            margin-top: 40px;
            transition: $transition;
            cursor: pointer;
            &:hover {
                background-color: $secondary;
            }
        }
    }
    article:last-child {
        flex: 0 0 48%;
        @include flex(space-between, center);
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
        .wrapper {
            flex: 0 0 45%;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            margin-bottom: 40px;
            cursor: pointer;
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
            &:hover {
                img {
                    transform: rotateY(180deg);
                    border-radius: 50%;
                }
                .backSide {
                    transform: rotateY(0);
                }
            }
            img {
                backface-visibility: hidden;
                transition: all 1s ease;
            }
            .backSide {
                transition: all 1s ease;
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.7);
                transform: rotateY(180deg);
                backface-visibility: hidden;
                p {
                    color: $secondary;
                    text-align: center;
                    font-size: 2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @media (max-width: 767px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

/********************
projects
********************/
.project {
    @include flex(space-between, center);
    padding: $padding;
    article {
        flex: 0 0 48%;
        @media (max-width: 767px) {
            flex: 0 0 100%;
            margin-bottom: 30px;
        }
        h2 {
            @include h2;
        }
        p {
            color: $primary;
        }
    }
}
.gallery {
    background-color: $secondary;
}

/********************
top-bar
********************/
.top-bar {
    background-color: $secondary;
    text-align: center;
    color: $primary;
    padding: 20px 0;
    font-weight: 300;
    
    h1 {
        font-size: 2rem;
        font-family: $fontFamily;
        text-shadow: 1px 1px 0 $white;
    }
    h3 {
        font-size: 1.3rem;
        font-family: $fontFamily;
    }
}

/********************
footer
********************/
footer {
    background-color: $primary;
    padding: $padding;
    color: $white;
    .container {
        @include flex(space-between, center);
        h4 {
            font-size: 1.7rem;
            font-family: $fontFamily;
            margin-bottom: 20px;
        }
        div:first-child {
            flex: 0 0 65%;
            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin-bottom: 40px;
            }
        }
        div:nth-child(2) {
            flex: 0 0 16%;
            @media (max-width: 767px) {
                flex: 0 0 50%;
            }
            ul {
                li {
                    font-weight: 700;
                    i {
                        color: $secondary;
                    }
                }
            }
            
        }
        div:last-child {
            flex: 0 0 16%;
            margin-top: -50px;
            @media (max-width: 767px) {
                flex: 0 0 50%;
            }
            i {
                color: $secondary;
                font-size: 2rem;
                margin-right: 10px;
            }
        }
    }
}